<!DOCTYPE HTML>
<html lang="{{ language }}" class="sidebar-visible no-js">
    <head>
        <!-- Book generated using mdBook -->
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff" />

        <link rel="shortcut icon" href="{{ path_to_root }}{{ favicon_png }}">
        <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print">
    </head>
    <body>
        <!-- Provide site root to javascript -->
        <script type="text/javascript">
            var path_to_root = "{{ path_to_root }}";
        </script>
		<!-- Work around some values being stored in localStorage wrapped in quotes -->
		<script type="text/javascript">
			try {
				var sidebar = localStorage.getItem('mdbook-sidebar');

				if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
					localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
				}
			} catch (e) { }
		</script>

		<header>
			<nav id="void-nav">
				<ul>
					<li><a id="skip-to-content" tabindex="1" href="#main">Skip to content</a></li>
					<li>
						<button id="sidebar-toggle" class="icon-button" type="button" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="sidebar">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
								<path d="M1 3v2h18V3zm0 8h18V9H1zm0 6h18v-2H1z"/>
							</svg>
						</button>
					</li>
				{{#if search_enabled}}
					<li>
						<button id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)" aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
								<path d="M7.5 13c3.04 0 5.5-2.46 5.5-5.5S10.54 2 7.5 2 2 4.46 2 7.5 4.46 13 7.5 13zm4.55.46C10.79 14.43 9.21 15 7.5 15 3.36 15 0 11.64 0 7.5S3.36 0 7.5 0C11.64 0 15 3.36 15 7.5c0 1.71-.57 3.29-1.54 4.55l6.49 6.49-1.41 1.41-6.49-6.49z"/>
							</svg>
						</button>
					</li>
				{{/if}}
                                        <noscript>
                                          <li class="js-unavailable">Search functionality requires JavaScript</li>
                                        </noscript>
				</ul>
				<ul id="nav-right">
					<li><a href="https://splitlinux.org">Home</a></li>
					<li><a href="https://splitlinux.org/#download">Download</a></li>
					<li><a href="https://docs.splitlinux.org">Documentation</a></li>
					<li><a href="https://gitlab.com/kevcrumb">GitLab</a></li>
				</ul>
			</nav>
		</header>

		<div id="content">

			<!-- Hide / unhide sidebar before it is displayed -->
			<script type="text/javascript">
				var html = document.querySelector('html');
				var sidebar = 'hidden';
				if (document.body.clientWidth >= 1080) {
					try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch(e) { }
					sidebar = sidebar || 'visible';
				}
				html.classList.remove('sidebar-visible');
				html.classList.add("sidebar-" + sidebar);
			</script>

			<nav id="sidebar" aria-label="Table of contents">
				{{#toc}}{{/toc}}
			</nav>

			<!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
			<script type="text/javascript">
				document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
	document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
	Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
		link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
	});
			</script>

			<div id="page-wrapper">
				{{#if search_enabled}}
				<div id="search-wrapper" class="hidden">
					<form id="searchbar-outer" class="searchbar-outer">
						<input type="search" name="search" id="searchbar" placeholder="Search this book ..." aria-controls="searchresults-outer" aria-describedby="searchresults-header">
					</form>
					<div id="searchresults-outer" class="searchresults-outer hidden">
						<div id="searchresults-header" class="searchresults-header"></div>
						<ul id="searchresults">
						</ul>
					</div>
				</div>
				{{/if}}

				<main id="main">
					{{{ content }}}
				</main>

				<nav id="nav-wide-wrapper" aria-label="Page navigation">
					{{#previous}}
						<a href="{{ path_to_root }}{{link}}" class="nav-chapters previous" title="Previous chapter" aria-label="Previous chapter" aria-keyshortcuts="Left">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
								<path d="M4 10l9 9 1.4-1.5L7 10l7.4-7.5L13 1z"/>
							</svg>
						</a>
					{{/previous}}

					{{#next}}
						<a href="{{ path_to_root }}{{link}}" class="nav-chapters next" title="Next chapter" aria-label="Next chapter" aria-keyshortcuts="Right">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
								<path d="M7 1L5.6 2.5 13 10l-7.4 7.5L7 19l9-9z"/>
							</svg>
						</a>
					{{/next}}
				</nav>
			</div>
		</div>

        {{#if livereload}}
        <!-- Livereload script (if served using the cli tool) -->
        <script type="text/javascript">
            var socket = new WebSocket("{{{livereload}}}");
            socket.onmessage = function (event) {
                if (event.data === "reload") {
                    socket.close();
                    location.reload(true); // force reload from server (not from cache)
                }
            };

            window.onbeforeunload = function() {
                socket.close();
            }
        </script>
        {{/if}}

        {{#if search_js}}
        <script src="{{ path_to_root }}elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}mark.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}searcher.js" type="text/javascript" charset="utf-8"></script>
        {{/if}}

        <script src="{{ path_to_root }}book.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
